In [44]:
import importlib
import duckdb
import subprocess
import SQL as sql
import Advanced_SQL as asql
import os
_ = importlib.reload(asql)
_ = importlib.reload(sql)

Use this cell to test any sql queries. This can be done in one of the following ways:
1. Fill in the `qry` within the """ """.
2. Call the question functions that you have already filled in from the SQL.py and Advanced_SQL.py files. An example of question_1 being called from the SQL.py file is currently commented out.


This cell can be copied if you wish to run multiple queries.

In [48]:
# qry = """SELECT * FROM customers"""
qry = sql.question_5()



with duckdb.connect('database/loan.db') as cursor:
    result_set = cursor.execute(qry).df()

result_set

   Count
0    275

In [49]:
qry = """SELECT  CustomerClass, COUNT(CustomerClass) AS Count 
    FROM credit
    GROUP BY CustomerClass;"""
# qry = asql.question_7()



with duckdb.connect('database/loan.db') as cursor:
    result_set = cursor.execute(qry).df()

result_set

  CustomerClass  Count
0             B    246
1             C    275
2            A+      6
3             A    487

Should you break/incorrectly update any database tables, the database can be reset by running the following cell

In [47]:
load_script_path = 'database/database_load.py'
subprocess.run(['python3', load_script_path])

CompletedProcess(args=['python3', 'database/database_load.py'], returncode=0)